$primaryColor: #6a3ce2;
$gray100: #f5f7f8;
$gray200: #e9ecef;
$gray300: #d8d8d8;
$gray400: #ced4da;
$gray500: #b7bbc0;
$gray600: #999999;
$gray700: #464646;
$gray800: #3c3c3c;
$gray900: #212529;
$white: #fafafa;
$offWhite: #f7f7f7;
$black: #3b3b3b;
$red: #d24242;
$redLight: #fee2e2;
$notice: #ffc107;
$inter: "Inter", sans-serif;
$radius: 6px;
$transition: all 0.3s ease-in-out;
$shadow: 0 2px 4px -1px rgba(7, 14, 35, 0.08);
